<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
  <head>
    <title>Cart</title>
  </head>
  <body>
    <table>
      <tr>
        <td>id</td>
        <td>name</td>
        <td>unitPrice</td>
        <td>quantity</td>
        <td>CartItemTotal</td>
      </tr>
      <tr th:each="cartItem, stat:${cartItems}">
        <td th:text="${cartItem.id}">id</td>
        <td th:text="${cartItem.product.name}">name</td>
        <td th:text="${cartItem.unitPrice}">unitPrice</td>
        <td th:text="${cartItem.quantity}">quantity</td>
        <td th:text="${CartItemTotal[stat.index]}">CartItemTotal</td>
      </tr>
      <tr>
        <td colspan="4"></td>
        <td th:text="${cartTotal}">Cart Total</td>
      </tr>
    </table>
    <div>
      <form action="#" th:action="@{/checkout/discountCode}" method="POST">
        <span
          >Discount Code:
          <input type="text" name="code" />
        </span>
        <span th:if="${invalidCode}" th:text="${invalidCode}"></span>
        <button type="submit">Apply Code</button>
      </form>
    </div>
    <div>
      <form
        action="#"
        th:action="@{/checkout/order}"
        th:object="${paymentMethod}"
        method="POST"
      >
        <!-- payment details field here-->
        <table>
          <tr>
            <th>
              <!-- <input type="hidden" th:field="*{id}" />Enter Payment Details -->
              <!-- only need to put this if there is existing data already -->
            </th>
          </tr>
          <tr>
            <td>Card Number:</td>
            <td>
              <input type="text" th:field="*{cardNumber}" />
            </td>
            <td
              th:if="${#fields.hasErrors('cardNumber')}"
              th:errors="*{cardNumber}"
            ></td>
          </tr>
          <tr>
            <td>Expiry Month:</td>
            <td>
              <input type="text" th:field="*{expiryMonth}" />
            </td>
            <td
              th:if="${#fields.hasErrors('expiryMonth')}"
              th:errors="*{expiryMonth}"
            ></td>
            <td>Expiry Year:</td>
            <td>
              <input type="text" th:field="*{expiryYear}" />
            </td>
            <td
              th:if="${#fields.hasErrors('expiryYear')}"
              th:errors="*{expiryYear}"
            ></td>
            <td>CVV</td>
            <td>
              <input type="text" />
            </td>
          </tr>
          <tr>
            <td>Card Holder Name:</td>
            <td>
              <input type="text" th:field="*{cardHolderName}" />
            </td>
            <td
              th:if="${#fields.hasErrors('cardHolderName')}"
              th:errors="*{cardHolderName}"
            ></td>
          </tr>
        </table>
        <button type="submit">Place Order</button>
      </form>
    </div>
  </body>
</html>
